---
layout: base
---

{% include header.html type="post" %}

<div class="container-md">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
     
     

      <article role="main" class="blog-post">
        {{ content }}
      </article>
      
    

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}
          
<div class="text-center py-10">
    <p>
    <p>Feeling called to connect? <a href="https://arcadiapage.substack.com/">Follow this blog by email</a> ✨ <a class="button" href="mailto:arcadia@arcadiapage.com?subject=Re:{{ page.title }}">Reply to this Post</a><a href="https://payhip.com/ArcadiaPage"> 🌌 Support my work</a> 💖</p>
</div>
      

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}


      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top"
 
 title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>
    

<div class="related">
  <h4>You May Also Enjoy: </h4>
  <br/>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <div>
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

  {% include comments.html %} 

  <h3><a href="https://arcadiapage.substack.com/">Following me by email to get (somewhat) monthly updates of my newest articles and projects 💌</a></h3>

<h3><a href="https://payhip.com/b/ROPCQ">Getting an early look at my ideas—step into the Starlight Library 🦋</a></h3>
    

     </div>
  </div>
</div>

</div>
